<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hermes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container-fluid" id="1">
        <h1 class="child">Hermes</h1>
        <h2 class="child">A Bus Companion App</h2>
    </div>
    <div class="container-fluid" id="2">
        <h2 class="child">Celeritas</h2>
        <h3 class="child">Find the shortest way to get to your destination</h3>
        <div class="center">
            <a href="{{ url_for('celeritas.root') }}" class="btn btn-primary">Try it now!</a>
        </div>
    </div>
</body>
</html>